img{
  width: 100%;
  height: auto;
  overflow: hidden;
}
h5{
  font-size: 60px;
}
a{
  text-decoration: none;
}
a, .button, .button1{
  text-align: center;
  color: white;
  transition-duration: 0.4s;
  background-color:  #ff6666;
  padding: 10px 15px;
  border: none;
  margin: 10px;
  font-size: 18px;
  border-radius: 2px;
  font-weight: 900;
}
a:hover, .button:hover, .button1:hover{
  cursor: pointer;
  border: none;
  background-color: #ff9999;
}
.rateScale{
  font-size: 15px;
  background-color: #ff6666;
}
select:hover{
  cursor: pointer;
  text-decoration: none;
}
.odBut{
  float: left;
}
#selec{
  background-color: #ff6666;
  font-size: 20px;
  border: none;
  margin: 10px;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  padding: 10px 15px;
  text-align: center;
}
#selec:focus {
  outline: none;
}
