<div class="form">
  <strong>Add your own trip here:</strong>
  <form [formGroup]="modelForm" novalidate>
    <label>Name of trip:</label><input name="nameOfTrip" formControlName="nameOfTrip" type="text"><br>

    <label>Aim of trip:</label><input name="aimOfTrip" formControlName="aimOfTrip" type="text"><br>

    <label>Description:</label><input name="descriptionOfTrip" formControlName="descriptionOfTrip" type="text"><br>

    <label>Price:</label><input name="priceOfTrip" formControlName="priceOfTrip" type="number"><br>

    <label>Start date:</label><input name="dateStartOfTrip" formControlName="dateStartOfTrip" type="date"><br>

    <label>End date:</label><input name="dateEndOfTrip" formControlName="dateEndOfTrip" type="date"><br>

    <label>Vacancies:</label><input name="vacanciesOfTrip" formControlName="vacanciesOfTrip" type="number"><br>

    <button  type="submit" id="addButton" (click)="addTrip()" >Add</button>
  </form>
</div>
