<div id="widmo"></div>
<div id="menu">
  <a routerLink="/listOfTrips" routerLinkActive="active">Main page</a>
  <a routerLink="/shopping" routerLinkActive="active">Your booked trips</a>
  <a routerLink="/addNewTrip" routerLinkActive="active">Add trip</a>
</div>

<!--
  <div class="filterEl">
    End date:
    <div class="dropdown">
      <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let x of uniqueArrOfEndDate" class="list-group-item" style="width: auto;">
            <input class="form-check-input me-1" type="checkbox" (click)="addTOuniqueArrOfEDate(x)"><br>
            {{x}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="filterEl">
    Start date:
    <div class="dropdown">
      <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let x of uniqueArrOfStartDate" class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" (click)="addTOuniqueArrOfDate(x)"><br>
            {{x}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="filterEl">
    Price:
    <div class="dropdown">
      <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let x of uniqueArrOfPrice" class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" (click)="addTOuniqueArrOfPrice(x)"><br>
            {{x}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="filterEl">
    Country:
    <div class="dropdown">
      <div class="btn-group">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul  class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li *ngFor="let x of uniqueArrOfCountry" class="list-group-item">
          <span class="dropdown-item">
          <input class="form-check-input me-1" type="checkbox" (click)="addTOuniqueArrOfCountry(x)"><br>
            {{x}}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="filterEl">Select your trips:</div>
-->
