
<div class="imgDiv">
  <img src="{{ someTrip.imgURL }}">
</div>
<div>
  <h2>{{ someTrip.name | uppercase }}</h2>
  <p>
    {{someTrip.description}}<br>
    Country: {{someTrip.aim | uppercase }} <br>
    Price: {{someTrip.price}} {{getCurrency(someTrip.currency)}} <br>
    Date: {{someTrip.startTrip}} - {{someTrip.endTrip}} <br>
    <span *ngIf="(someTrip.maxSpace-someTrip.booked) != 0" [ngStyle]="{'background-color': (someTrip.maxSpace-someTrip.booked) <= 3 ? 'red' : ''}">Vacancies: {{someTrip.maxSpace-someTrip.booked}}</span>
    <span *ngIf="someTrip.booked == someTrip.maxSpace">Vacancies: there is no free spaces</span>
  </p>
  <hr>
  <div class="read">
    <a routerLink="/tripDetails/{{someTrip.key}}" routerLinkActive="active">Details</a>
    <button [ngStyle]="{'display': someTrip.booked < someTrip.maxSpace ? 'block' : 'none' }" (click)="book()" type="button" class="button">Book</button>
    <button [ngStyle]="{'display': someTrip.booked > 0 ? 'block' : 'none' }"  type="button" (click)="cancel()" class="button">Cancel reservations</button>
    <button type="button" class="button" (click)="delete()">Delete trip</button>
  </div>
</div>


