a{
  text-decoration: none;
}
a, .button{
  float: left;
  text-align: center;
  color: white;
  transition-duration: 0.4s;
  background-color:  #ff6666;
  padding: 8px;
  border: none;
  margin: 5px;
  font-size: 13px;
  border-radius: 2px;
  font-weight: 900;
}
a:hover, .button:hover{
  cursor: pointer;
  border: none;
  background-color: #ff9999;
}
.read{
  margin-left: auto;
  margin-right: auto;
  height: 60px;
}
.imgDiv{
  position: relative;
  overflow: hidden;
  display: grid;
  grid-row: 1/2;
}
.imgDiv img{
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  clip-path: circle(50% at 50% 50%);
  object-fit: cover;
  transition: .5s ease-in-out;
}
img:hover{
  transform: scale(1.2);
  cursor: pointer;
}
.rateDiv{
  bottom: 0;
  right: 0;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  z-index: 9998;
  border-radius: 10px;
  padding: 5px;
  background-color: #ff6666;
}
.rateDiv:hover{
  cursor: pointer;
}

